  body{
    font-size: 20px;
    font-family: nanook, arco, sans-serif;
    padding:4vw;
  }
  body.home{
    /*animation-duration: 6s;
    animation-name: printpage;
    animation-timing-function: linear;*/
  }
  .project{
    font-family: arco, sans-serif;
    line-height: 1.2em;
    margin: 4vw 0;
  }
  .project h1{
    font-family: nanook, arco, sans-serif;
    font-size: 3em;
  }
  .project h1 .author{
    font-size: .4em;
    margin-top: 10px;
    display: block;
    letter-spacing: 4px;
    font-family: arco, sans-serif;
  }
  .cover{
    font-size:3vw;
    line-height: 1.6em;
  }
  body.links{
    font-family: arco, sans-serif;
  }
  main{
    position:relative;
  }
  .image p{
    font-size: 13px;
    padding-top:0;
    line-height: 1.2em;
    text-indent: 0;
    text-align: center;
  }
  .image img{
    margin-bottom: 0;
  }
  img{
    width: 700px;
    margin:30px 0;
    filter: grayscale(1);
    border-radius: 10px;
    border:2px solid white;
  }
  .norad{
    border-radius:0;
  }
  a{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid white;
  }
  h1{
    position: relative;
    font-weight:inherit;font-size: inherit;
  }
  h2{
    font-size: .5em;
    font-weight:inherit;font-size: inherit;
    }
  p{
    text-indent: 7em;
    padding: 1.5em 0 0 0;
    margin: 0;
  }
  li{
    margin-bottom:30px;
  }
  .p1{ transform: scale(1) rotate(0deg) translate(0px, 0px) skew(20deg, 0deg);position:absolute; left:.2em;}
  .p2{ transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);position:absolute; left:2em;}
  .p3{position: absolute; left:4.1em;}
  .noscreen{
    display: none;
  }
  @media only screen {
    body{
      background:#000; color:white;
    }
  }
  .fly div{
    width:50px;
    height:50px;
    background: url(../img/fly.svg) no-repeat 100%;
  }
  @media only print {
    .noscreen{
      display:block;
    }
    @page{
      margin: 0cm;
    }
    body{
      background:white;
      color:black;
      margin:0;
      padding:0;
      font-size: 10px;
    }
    .cover h1 {
      height:100px;
      left: 0cm;
      font-size: 1.5em;
    }
    .cover p{
      font-size: 1.2em;
      line-height: 1.5em;
    }
    .page{
      position: relative;
      width:50%;
      float:right;
      padding: 0cm;
    }
    .image.small{
      width:70%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
    .page:nth-child(2){
      page-break-after: always;
    }
    .project{
      margin:0 0 2em 0;
      position: relative;
    }
    .project h1{
      position:absolute;
      top:0;
      left:0;
      margin-top:.3em;
    }
    .item .project:nth-child(2){
      margin-top:3cm;
    }
    .project .text{
      padding-top:3cm;
    }
    .item{
      padding:1cm;
    }
    .project img{
      width:100%;
      margin-top:0cm;
      image-rendering: auto;
    }
    p, li, ul{
      font-size: 15px;
      line-height: 1.2em;
      text-indent: 3em;
      margin-bottom:.5cm;
      padding:0;
    }
    p.link{
      text-indent: 0;
    }
    .project a{
      border:1px dotted black;
      padding:2px 5px;
      border-radius:10px;
    }
    .noprint{display: none;}
    .about{
      position: absolute;
      left:-18%;
      bottom:0cm;
      transform:rotate(-90deg);
      transform-origin: left;
      font-size: 1em;
      width:100vw;
      font-family: arco;
    }
  }
  @media only screen{
    .project{
      font-size: 18px;
      line-height: 1.2em;
      width:25%;
      float:left;
      padding:20px;
      padding-top:5em;
    }
    .project h1{
      font-size: 35px;
    }
    .project h1 .author{
      font-size: 18px;
    }
    .about{
      clear:both;
      text-align:center;
      text-indent:0;
    }
    .project .image img{
      width:100%;
    }
    .about{
      position: fixed;
      bottom:0;
      left:0;
      background: #000;
      padding:2px 8px;
      margin-left: 4vw;
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 1400px) {
    body{
      padding:10px;
    }
    p{
      text-indent: 2em;
    }
  }
  @media only screen and (max-width: 1000px) {
    .cover{
      font-size: 30px;
    }
    .project{
      float:none;
      width:100%;
    }
    p{
      text-indent: 3em;
    }
  }
::selection {background:white; color: black;}
::-moz-selection {background:white; color: black;}
