@font-face {
    font-family: 'Science Gothic';
    src: url('ScienceGothic-Regular.woff2') format('woff2'),
        url('ScienceGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}