@font-face {
    font-family: 'Generale Station';
    src: url('GeneraleStation.woff2') format('woff2'),
        url('GeneraleStation.woff') format('woff'),
        url('GeneraleStation.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

