body{
  font:16px/1.4em authentic sans, sans-serif;
  background:lightgray;
}
h1, h2, h3{margin:2em 0; color:red; text-align: center; font-size: 2em;}
h1:first-child{margin-top:0;}
a{color:inherit; text-decoration: none;}
