body{
  width: 100vw;
  font:20px/1.5em arial, sans-serif;
  padding: 0;
  margin: 0 ;
}

body *{
  /*word-break: break-all;*/
  width: 60%;
  visibility: hidden;

}
  
em{ 
  visibility: visible;
  color: blue ; }


@media print{
  @page{
    size:  A4;

  }

  h1:first-child{
    break-after: always;
  }
}