body{
  font:14px/1.4em Generale station, sans-serif;
  font-variation-settings:"wght" 260, "wdth" 0, "YOPQ" 75.2, "slnt" 0;
  background:lightgray;
}


.pagedjs_pagebox .pagedjs_page_content div{
  position: relative;
}
.hole{
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 50%;
  shape-outside:circle();
}