body{
  font:14px/1.4em Generale station, sans-serif;
  font-variation-settings:"wght" 260, "wdth" 0, "YOPQ" 75.2, "slnt" 0;
  background:lightgray;
}
h1{
  margin-top:0;
  line-height: 1em;
  page-break-after: always;
  font-size: 180px;
  text-transform: uppercase;
  text-align: center;
}
a{color:inherit; text-decoration: none;}

.pagedjs_pagebox .pagedjs_page_content div{
  position: relative;
}
.pagedjs_first_page .pagedjs_pagebox .pagedjs_page_content div::before{
  top:-450px;
}
.pagedjs_pagebox .pagedjs_page_content div::before{
  content: "";
  top:-460px;
  width: 100%;
  height: 100vh;
  position: absolute;
  background: url(../img/rock3.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 90%;
  position: absolute;
}