body{
  font:20px/1.1em arial, sans-serif;
  background:lightgray;
}

@page {
  font-family:"BioRhyme Expanded";
  size: 14cm 5cm ;
  margin: 5mm 5mm;
  color:DarkBlue;
}

section h1{
  font-size:40px;
}
.part {
  page: part;
  page-break-after: always;
}
@page part{
}
section{
  position:relative;
  margin-top:2cm;
}
section.last {
  page: last;
  font-size:12px;
  margin-top:.2cm;
}
.dot{
  position:absolute;
  background:DarkBlue;
}

img{
  display:block;
  width:145px;
  position: relative;
  bottom: -50px;
  right: 190px;
}